@import "src/scss/variables";

.key-features{
  position: relative;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  @media #{$info-tablet-horizontal} {
    height: 56vw;
  }
  .title-main{
    margin-top: 62px;
    @media #{$info-tablet-horizontal} {
      margin-top: 2.7vw;
    }
  }
  .key-features-box{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: auto;
    @media #{$info-tablet-horizontal} {
      margin: auto;
      width: 95%;
    }
  }
}