@import "src/scss/variables";

.introduce{
  position: relative;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 56.5vw;
  .introduce-content{
    position: absolute;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    left: 30%;
    top: 50%;
    width: 820px;
    height: 560px;
    @media #{$info-tablet-1399} {
      left: 32%;
      width: 550px;
      height: 380px;
    }
    @media #{$info-tablet-horizontal} {
      left: 32%;
      width: 466px;
      height: 312px;
    }
    .introduce-text{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-48%, -50%);
      width: 660px;
      display: block;
      color: #FFFFFF;
      font-weight: inherit;
      font-size: 1.2rem;
      line-height: 2.2rem;
      @media #{$info-tablet-1399} {
        line-height: inherit;
        width: 460px;
        font-size: 14px;
      }
      @media #{$info-tablet-horizontal} {
        line-height: inherit;
        width: 380px;
        font-size: 12px;
      }
      &-main{
        font-size: 1.7rem;
        font-weight: 600;
        @media #{$info-tablet-horizontal} {
          font-size: 25px;
        }
        @media #{$info-tablet-horizontal} {
          font-size: 2.3vw;
        }
      }
    }
  }
}