@import "src/scss/variables";

.core-team-member{
  position: relative;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 294px;
  margin: 25px;
  @media #{$info-tablet-horizontal} {
    width: 20.2vw;
    height: 23.5vw;
    margin: 0 0.5vw 4vw 0.5vw;
  }
  .image-member{
    position: absolute;
    width: 84%;
    top: 27px;
    left: 50%;
    transform: translate(-50%, 0);
    @media #{$info-tablet-horizontal} {
      width: 17.1vw;
      left: 50%;
      top: 1.9vw;
    }
  }
  .name-member{
    position: absolute;
    color: $color-title-main;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 17px;
    bottom: 19px;
    @media #{$info-tablet-horizontal} {
      bottom: 1.4vw;
      font-size: 1.2vw;
    }
  }
  .position-member{
    color: $color-title-main;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: -20px;
    font-size: 14px;
    @media #{$info-tablet-horizontal} {
      font-size: 1vw;
      bottom: -1.5vw;
    }
  }
}