@import "src/scss/variables";

.road-map{
  width: 100%;
  background-color: $bg-color;
  .title-main{
    margin: 110px 0 0 0;
    @media #{$info-tablet-1399} {
      margin: 5.5vw 0 0 0;
    }
  }
  .rm-box1{
    position: relative;
    .rm1{
      margin-top: 240px;
      @media #{$info-tablet-1399} {
        margin-top: 190px;
      }
      @media #{$info-tablet-horizontal} {
        margin-top: 131px;
      }
    }
    .text-rm1-1{
      left: 23%;
      top: 135px;
      @media #{$info-tablet-1399} {
        top: 121px;
      }
      @media #{$info-tablet-horizontal} {
        top: 77px;
      }
    }
    .text-rm1-2{
      left: 51%;
      top: 56px;
      @media #{$info-tablet-1399} {
        top: 66px;
      }
      @media #{$info-tablet-horizontal} {
        top: 25px;
      }
    }
  }

  .rm-box2{
    position: relative;
    .rm2{
      margin-top: 299px;
      @media #{$info-tablet-1399} {
        margin-top: 220px;
        font-size: 12px;
      }
      @media #{$info-tablet-horizontal} {
        margin-top: 180px;
      }
    }
    .text-rm2-1{
      left: -0.5vw;
      top: 56px;
    }
    .text-rm2-2{
      left: 51%;
      top: 108px;
      @media #{$info-tablet-1399} {
        top: 94px;
        font-size: 12px;
      }
      @media #{$info-tablet-horizontal} {
        top: 72px;
      }
    }
  }

  .rm-box3{
    position: relative;
    .rm3{
      margin-top: 137px;
      @media #{$info-tablet-1399} {
        margin-top: 115px;
        font-size: 12px;
      }
      @media #{$info-tablet-horizontal} {
        margin-top: 95px;
      }
    }
    .text-rm3-1{
      left: 8%;
      top: 41px;
      @media #{$info-tablet-1399} {
        font-size: 12px;
      }
      @media #{$info-tablet-horizontal} {
        top: 38px;
      }
    }
  }

  .text-rm{
    color: #00E0FF;
    position: absolute;
    font-size: 1.2rem;
    @media #{$info-tablet-1399} {
      font-size: 12px;
    }
    @media #{$info-tablet-horizontal} {
      font-size: 11px;
    }
  }

  img{
    width: 100%;
    &.rm3{
      width: 30%;
    }
  }
}