@import "src/scss/variables";
.core-team{
  background-color: $bg-color;
  width: 100%;
  .title-main{
    margin-top: 120px;
    margin-bottom: 132px;
    @media #{$info-tablet-horizontal} {
      margin-top: 7vw;
      margin-bottom: 6vw;
    }
  }
  .box-member{
    display: flex;
    justify-content: space-between;
    width: 95%;
    flex-wrap: wrap;
    margin: auto;
  }
}