@import "src/scss/variables";

.key-features-item{
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  margin: 25px 0 25px 0;
  @media #{$info-tablet-horizontal} {
    width: 30%;
    height: 20vw;
    margin: 2vw 0 1vw 0;
  }
  .title-key{
    position: relative;
    width: 85%;
    display: block;
    color: $color-title-main;
    font-size: 15px;
    @media #{$info-tablet-horizontal} {
      font-size: 1.4vw;
    }
  }
  .title-main-key{
    padding: 45px 0 0 35px;
    width: 85%;
    @media #{$info-tablet-horizontal} {
      padding: 0;
      margin: 3vw 0 0 3vw;
    }
  }
  .title{
    padding: 15px 0 0 35px;
    color: #FFFFFF;
    @media #{$info-tablet-horizontal} {
      padding: 0;
      margin: 0.5vw 0 0 3.2vw;
    }
  }
}