@import "variables";

.title-main{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: $color-title-main;
  @media #{$info-tablet-horizontal} {
    font-size: 2.8vw;
  }
}

span{
  white-space: break-spaces;
}