$color-title-main: #00F0FF;
$bg-color: #020220;

$info-tablet-horizontal: "only screen and (max-width : 1160px)";
$info-tablet-991: "only screen and (max-width : 991.5px)";
$info-tablet-1399: "only screen and (max-width : 1399.5px)";