@import "src/scss/variables";

.modal-download{
  .modal-dialog{
    width: fit-content;
    @media #{$info-phone} {
      margin: 15px auto;
    }

    .modal-body{
      padding: 25px;
    }
  }

  .modal-download-body{
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .icon-close{
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }

    button{
      position: relative;
      background-color: #000000;
      border-color: #000000;
      color: white;
      margin: 5px 5px;
      border-radius: 7px;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      font-size: 15px;
      &:hover span{
        visibility: inherit;
        background-color: rgba(0,0,0,0.7);
        opacity: 1;
      }
      .icon{
        margin-right: 5px;
      }
      span{
        opacity: 0;
        left: 0;
        font-size: 10px;
        visibility: hidden;
        align-items: center;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        position: absolute;
        transition: opacity 0.6s;
      }
    }
  }
}
